.single-weather-tile {
    color: #fff;
    width: 750px;
    height: 450px;
    margin: 20px;
    background-color: #333;
    border-radius: 10px;
}

.single-top {
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.single-description-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-top-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-weather-icon {
    width: 65px;
}

.single-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.single-top-row div{
    padding-left:  30px;
    padding-right: 30px;
}

.single-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.single-col {
    margin: 5px 50px 5px 5px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-city {
    font-weight: bolder;
    font-size: 26px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.single-weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.btn-ico {
    margin: 5px 5px 5px 5px;
    width: 30px;
    cursor: pointer;
}

.single-temperature {
    font-weight: 600;
    font-size: 50px;
    width: auto;
    margin: 10px 0;
}

.single-description-wrap {
    padding-right: 1em;
    position: relative;
}

.single-description-wrap::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 2px;
    height: 60%; 
    transform: translateY(-50%);
    background-color: #fff;
}

@media only screen and (max-width: 480px) {
    .single-bottom {
        font-size: 12px;
        font-weight: bold;
    }

    .single-weather-tile {
        height: 550px;
    }

  }