.weather-tile {
    
    width: 430px; 
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;

    color: #ffffff;
    background-color: #333;
    
}

.delete-wrap {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.delete-icon {
    width: 20px;
    margin: 7px;
    margin-bottom: 0;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    background-image: url("../../../public/cloud.png");
    background-size: cover;
    background-repeat: no-repeat; 

}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.description-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon {
    width: 40px;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.temperature {
    font-weight: 600;
    font-size: 40px;
    width: auto;
    margin: 10px 0;
}

.temperature-min {
    margin: 0;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #383B47;
}

.col-1 {
    padding-right: 1em;
    position: relative;
}

.col-1::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 40%; 
    transform: translateY(-50%);
    background-color: #505466;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: .1em;
    padding-right: .1em;
}

.arrow-icon {
    width: 20px;
    transform: rotate(45deg);
}

.col-3 {
    padding-left: 1em;
    position: relative;
}

.col-3::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    width: 1px;
    height: 60%; 
    transform: translateY(-50%);
    background-color: #505466; 
}

@media only screen and (max-width: 480px) {
    .top-content {
        flex-direction: column;
        justify-content: center;
    }

    .bottom {
        justify-content: space-between;
        align-items: start;
        height: 200px;
    }

    .col-1::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 20%;
        width: 0;
        height: 1px; 
        transform: translateY(-50%);
        background-color: #505466;
    }

    .col-2 {
        order: 3;
        flex-grow: 1;
    }

    .col-3 {
        padding-left: 0;
        border: none;
        order: 2;
    }

    .col-3::after {
        content: '';
        position: absolute;
        top: 0; 
        left: 20%;
        width: 80%;
        height: 0; 
        transform: translateY(-50%);
        background-color: #505466; 
    }
  }
