.delete-wrap {
    width: 100%;
    display: flex;
    justify-content: end;
}

.weather-tile {
    color: #ffffff;
    width: 400px; 
    margin: 30px;
    background-color: #333;
    cursor: pointer;
    border-radius: 10px;
}

.delete-icon {
    width: 20px;
    margin: 7px;
    margin-bottom: 0;
}

.top {
    background-image: url("../../../public/cloud.png");
    background-size: cover; 
    min-height: 200px;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #383B47;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}
.description-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.col-1 {
    padding-right: 1em;
    position: relative;
}

.col-1::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 40%; 
    transform: translateY(-50%);
    background-color: #505466;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: .1em;
    padding-right: .1em;
}

.col-3 {
    padding-left: 1em;
    position: relative;
}

.col-3::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    width: 1px;
    height: 60%; 
    transform: translateY(-50%);
    background-color: #505466; 
}

.weather-icon {
    width: 40px;
}

.arrow-icon {
    width: 20px;
    transform: rotate(45deg);
}

.temperature {
    font-weight: 600;
    font-size: 40px;
    width: auto;
    margin: 10px 0;
}

.temperature-min {
    margin: 0;
}

.Rain {
    background-color: #388EE7;
}

.Clear {
    background-color: #6249CC;
}

.Clouds {
    background-color: #40B681;
}

.Snow {
    background-color: #DE944E;
}

@media only screen and (max-width: 480px) {
    .top-content {
        justify-content: center;
    }

    .bottom {
        justify-content: space-between;
        height: 200px;
    }

    .col-3 {
        padding-left: 0;
    } 

    .col-3::after {
        content: '';
        position: absolute;
        top: 0; 
        left: 20%;
        width: 80%;
        height: 1px; 
        transform: translateY(-50%);
        background-color: #505466; 
    }

    .col-1::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 20%;
        width: 0;
        height: 1px; 
        transform: translateY(-50%);
        background-color: #505466;
    }
  }
