.error-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .error {
    width: 600px;
    background-color: #383B47;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .error-header {
    font-size: 20px;
    font-weight: bold;
    color: #dcdcdc;
    background-color: #9c3939;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .error-body {
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .error-body img {
    width: 48px;
    margin-right: 16px;
  }
  
  .error-message {
    font-size: 24px;
    color: #dcdcdc;
    margin: 0;
  }