  .error-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .error {
    width: 430px; 
    min-height: 282px;
    margin: 30px;
    border-radius: 8px;
    background-color: #333;
    align-self: stretch;
  }

  .error-top {
    background-image: url("../../../public/images/cloud.png");
    padding-left: 30px;
    padding-right: 30px;
    min-height: 173px;
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .error-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-heading p {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    color: #ffff;
  }

  .error-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99px;
    padding: 5px 20px 5px 20px;
    background-color: #383B47;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .icon-error {
    width: 36px;
    margin-right: 10px;
  }

  .error-body-top {
    display: flex;
    align-items: center;
  }

  .error-body-top p {
    font-size: 18px;
    font-weight: bold;
    color: #dcdcdc;
  }
  
  .error-message {
    font-size: 16px;
    color: #dcdcdc;
    margin: 0;
  }

  .retry-btn-wrap {
    padding: 5px 10px;
    background-color: #9c3939;
    color: #dcdcdc;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .icon-reset {
    width: 24px;
  }

  @media only screen and (max-width: 480px) {

  }