.container {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.login-card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;
}

.login-card {
  background-color: var(--color-grey);
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 200px;

  border-radius: 8px;
  padding: 1rem;
}

.login-card .title {
  text-transform: uppercase;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-bottom: 2rem;
}

.login-card .login-btn {
  background-color: var(--color-green);
  text-transform: uppercase;
  padding: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.login-card .footer {
  color: grey;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: .1rem;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-red);
  color: var(--color-light);
  padding: 5px;
  border-radius: 5px;

  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.btn img {
  width: 22px;
}

.logout-wrap {
  padding-top: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: flex-end;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  flex-grow: 0;
}

.logo {
  margin-right: 10px;
  width: 30px;
}

nav p {
  font-size: 18px;
  line-height: 18px;
  color: var(--color-light);
  font-weight: 600;
  font-family: "Open Sans";
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #7E7F83;
  background-color: var(--color-dark-grey);
  flex-grow: 0;
}

footer p {
  font-weight: bolder;
}
