:root {
  --cloud-url: url("../public/images/cloud.png");

  --color-red: #9c3939;
  --color-light-blue: #388EE7;
  --color-purple: #6249CC;
  --color-green: #40B681;
  --color-orange: #DE944E;

  --color-light: #ffffff;
  --color-dark: #1F2128;
  --color-grey: #383B47;
  --color-dark-grey: #30333D;
}


[class^="w-"] {
  background-color: var(--color-red)
}

.w-overcast-clouds {
  background-color: var(--color-light-blue)
}

.w-few-clouds {
  background-color: var(--color-light-blue)
}

.w-broken-clouds {
  
  background-color: var(--color-purple)
}

.w-clear-sky { 
  background-color: var(--color-green)
}

.w-moderate-rain {
  background-color: var(--color-red)
}

.w-light-rain {
  background-color: var(--color-orange)
}

.w-mist {
  background-color: var(--color-red)
}

/* app */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  flex-grow: 0;
}

.logo {
  margin-right: 10px;
  width: 30px;
}

nav p {
  font-size: 18px;
  line-height: 18px;
  color: var(--color-light);
  font-weight: 600;
  font-family: "Open Sans";
}

.content {
  flex-grow: 1;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #7E7F83;
  background-color: var(--color-dark-grey);
  flex-grow: 0;
}

footer p {
  font-weight: bolder;
}
