.container {
  display: flex;
  flex-direction: column;
  height: 100vh
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  flex-grow: 0;
}

.logo {
  margin-right: 10px;
  width: 30px;
}

nav p {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Open Sans";
}

.content {
  flex-grow: 1;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #7E7F83;
  background-color: #30333D;
  flex-grow: 0;
}

footer p {
  font-weight: bolder;
}