@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
  --cloud-url: url("../public/images/cloud.png");

  --color-red: #9c3939;
  --color-light-blue: #388EE7;
  --color-purple: #6249CC;
  --color-green: #40B681;
  --color-orange: #DE944E;

  --color-light: #ffffff;
  --color-dark: #1F2128;
  --color-grey: #383B47;
  --color-dark-grey: #30333D;
}

body {
  margin: 0;
  font-family: "Open Sans";
  background-color: #1F2128;

  background-image: url("../public/images/background-1200-crop.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

[class^="w-"] {
  background-color: var(--color-red)
}

.w-overcast-clouds {
  background-color: var(--color-light-blue)
}

.w-few-clouds {
  background-color: var(--color-light-blue)
}

.w-broken-clouds {
  
  background-color: var(--color-purple)
}

.w-clear-sky { 
  background-color: var(--color-green)
}

.w-moderate-rain {
  background-color: var(--color-red)
}

.w-light-rain {
  background-color: var(--color-orange)
}

.w-mist {
  background-color: var(--color-red)
}

.error {
  width: 430px;
  background-color: var(--color-red);
  color: lightgrey;
  border-radius: 10px;
  margin: 30px;
  padding-bottom: 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.error .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.error .title img {
  width: 30px;
  margin-right: 10px;
}

.error .title .text{
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.error .subtitle {
  margin: 10px 0;
  text-align: center;
}

.error .message {
  margin: 5px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--color-purple);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 250px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}