.weather-details {
    color: var(--color-light);
    /* width: 750px; */
    margin: 20px;
    background-color: #333;
    border-radius: 10px;
  }
  
  .weather-details .top {
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .icon--back {
    margin: 5px 5px 5px 5px;
    width: 30px;
    cursor: pointer;
  }
  
  .weather-details .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .weather-details .content .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-details .content .center .city {
    font-weight: bolder;
    font-size: 26px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
  }
  
  .weather-details .top .content .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .weather-details .content .row .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-details .content .row .left .icon--weather {
    width: 65px;
  }
  
  .weather-details .top .content .row div {
    padding-left:  30px;
    padding-right: 30px;
  }
  
  .weather-details .content .row .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1em;
    position: relative;
  }
  
  .weather-details .content .row .left .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
  }
  
  .weather-details .content .row .left::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 2px;
    height: 60%; 
    transform: translateY(-50%);
    background-color: var(--color-light);
  }
  
  .weather-details .content .row .right .temperature {
    font-weight: 600;
    font-size: 50px;
    width: auto;
    margin: 10px 0;
  }
  
  .weather-details .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-grey);
  }
  
  .weather-details .bottom div {
    margin: 5px 50px 5px 5px;
  }
  
  .weather-details .bottom .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-details .bottom .center .icon--arrow {
    width: 20px;
    transform: rotate(45deg);
  }
  
  @media only screen and (max-width: 650px) {
    .weather-details .bottom {
        justify-content: space-around;
    }
  
    .weather-details .content {
        flex-direction: column;
        justify-content: center;
    }
  
    .weather-details .bottom .center {
        order: 3;
        flex-grow: 1;
    }
  
    .weather-details .bottom .right {
        border: none;
        order: 2;
        padding-left: 0;
    }
  
    .weather-details .bottom .right::after {
        content: '';
        position: absolute;
        top: 0; 
        left: 20%;
        width: 80%;
        height: 0; 
        transform: translateY(-50%);
        background-color: #505466; 
    }
  
    .weather-details .bottom .left::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 20%;
        width: 0;
        height: 1px; 
        transform: translateY(-50%);
        background-color: #505466;
    }
  
  }